{
  "env": {
    "development": {
      "presets": [["@babel/preset-env", { "targets": "defaults" }]]
    },
    "production": {
      "presets": [["@babel/preset-env", { "targets": "defaults" }]]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-typescript"
      ]
    }
  }
}
